{% extends 'layouts/base.html' %} {% block content %}
<div class="contenedor-tablas">
  <div class="card-title">
    <h1>Visualizador de Ligas</h1>
  </div>
  <div class="card">
    {% if hay_ligas %}
    <form method="GET">
      <input type="text" name="buscar" placeholder="Buscar liga..." />
      <button type="submit">Buscar</button>
    </form>
    {% endif %} {% if not ligas %}
    <p class="empty-message">No hay datos para mostrar.</p>
    {% else %}
    <table class="tabla-responsive">
      <thead>
        <tr class="encabezado">
          <th>Liga</th>
          <th>Ubicación</th>
          <th>Equipos</th>
          <th>Acciones</th>
        </tr>
      </thead>
      {% for liga in ligas %}
      <tbody>
        <tr>
          <td>
            {% if liga.logo %}
            <div class="logo-nombre">
              <img src="{{ liga.logo.url }}" alt="Logo" width="50" />
              <strong>{{ liga.nombre_corto }}</strong>
            </div>
            {% else %} Sin logo {% endif %}
          </td>
          <td data-label="Locación">{{ liga.comuna }}, {{ liga.region }}</td>
          <td data-label="N° Equipos">{{ liga.total_equipos }}</td>
          <td>
            <button
              class="btn detalles"
              title="Ver Detalles"
              onclick="window.location='/ligas/detalle/{{ liga.id }}/'"
            >
              <i class="fa-solid fa-eye"></i>
            </button>
            {% if user.is_staff %}
            <button
              class="btn editar"
              title="Editar"
              onclick="window.location='/ligas/editar/{{ liga.id }}/'"
            >
              <i class="fa-solid fa-pen"></i>
            </button>

            <button
              onclick='confirmarEliminar("{{ liga.id }}", "{{ liga.nombre|escapejs }}")'
              class="btn eliminar"
              title="Eliminar"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
            {% endif %}
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    {% endif %}
  </div>
</div>

<script>
  function confirmarEliminar(id, nombre) {
    Swal.fire({
      title: "¿Estás seguro?",
      text:
        'Eliminarás la liga "' + nombre + '" junto a sus equipos asociados.',
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Sí, eliminar",
      cancelButtonText: "Cancelar",
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "/ligas/eliminar/" + id + "/";
      }
    });
  }
</script>

<style>
  .logo-nombre {
    display: flex;
    align-items: center;
    gap: 10px;
}
</style>

{% endblock %}