{% extends 'layouts/base.html' %}

{% block content %}
<div class="ingresar">
    <div class="card-title">
        <h1>Editar Jugador</h1>
    </div>
    <div class="container-forms-card">
        <div class="card form-container">
            <form method="POST" class="form-registro">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Guardar cambios</button>
            </form>
        </div>
        <div>
            <div class="card">
                <h2>Formato de las fechas</h2>
                <p>Las fechas deben ser ingresadas con el formato DD/MM/AAAA</p>
            </div>
            <br>
            <div class="card">
                <h2>Tipos de Sangre</h2>
                <p>"A+", "A-", "B+", "B-", "AB+", "AB-", "O+" y "O-"</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
