{% extends 'layouts/base.html' %}

{% block content %}
    <div class="contenedor-tablas"> 
        <div class="card-title">
            <h1>Visualizador de Equipos</h1>
        </div>
        <div class="card">
            {% if hay_equipos %}
            <div class="equipo-listado-toolbar">
                <form method="GET" class="equipo-busqueda">
                    <input
                        type="text"
                        name="buscar"
                        placeholder="Buscar equipo..."
                        value="{{ request.GET.buscar }}"
                    >

                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>Buscar</span>
                    </button>
                </form>
            </div>
            {% endif %}
            {% if not equipos %}
            <p class="empty-message">No hay datos para mostrar.</p>
            {% else %}
            <table class="tabla-responsive">
                <thead>
                    <tr class="encabezado">
                        <th>
                            Club
                        </th>
                        <th>
                            N° Jugadores
                        </th>
                        <th>
                            Redes Sociales
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for equipo in equipos %}
                    <tr>
                        <td>
                            <div class="equipo-info">

                                {% if equipo.logo %}
                                    <img class="equipo-logo"
                                        src="{{ equipo.logo.url }}"
                                        alt="{{ equipo.nombre }}">
                                {% else %}
                                    <div class="equipo-logo logo-vacio">
                                        <i class="fa-solid fa-shield-halved"></i>
                                    </div>
                                {% endif %}

                                <div class="equipo-texto">
                                    <span class="equipo-nombre">{{ equipo.nombre }}</span>
                                    <span class="equipo-liga">
                                        {{ equipo.liga }}
                                    </span>
                                </div>

                            </div>
                        </td>
                        <td data-label="N° Jugadores">
                            {{equipo.cantidad_jugadores}} 
                        </td>
                        <td>
                            {% for red in equipo.redes.all %}
                            <a href="{{ red.url }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="red-social">

                                <i class="{{ red.icono }}"></i>
                                <span>{{ red.get_tipo_display }}</span>

                            </a>
                            {% empty %}
                                Sin redes
                            {% endfor %}
                        </td>
                        <td>
                            <button class="btn ver" onclick="window.location='/equipos/{{ equipo.nombre }}/'" title="Ver Jugadores">
                                <i class="fa-solid fa-eye"></i> 
                            </button>

                            {% if user.is_staff %}
                                <button class="btn editar" title="Editar"
                                onclick="window.location='/equipos/editar/{{ equipo.id }}'">
                                    <i class="fa-solid fa-pen"></i>
                                </button>

                                <button onclick='confirmarEliminar("{{ equipo.nombre }}")'class="btn eliminar" title="Eliminar">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
    </div>

<script>
function confirmarEliminar(equipo) {
    console.log(equipo)
    Swal.fire({
        title: '¿Estás seguro?',
        text: 'Eliminarás a todo el equipo "' + equipo + '" junto a todos sus jugadores',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sí, eliminar',
        cancelButtonText: 'Cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "/equipos/eliminar/" + equipo + "/";
        }
    });
}
</script>
{% endblock %}
