{% extends 'layouts/base.html' %}

{% block content %}

<div class="ingresar">
    <div>
        <h1>Ingresar Equipo</h1>
    </div>
        <div class="container-forms-card">
            <div class="card form-container">
                <form method="POST" class="form-registro">
                    {% csrf_token %}
                    {{ form }}
                    <button>Guardar</button>
                </form>
            </div>
            <div>
                <div class="card">
                    <h2>¿No encuentras tu liga?</h2>
                    <p>Ingresala desde aquí, sin borrar los datos ya ingresados.
                        <a href="{% url 'modal_ingresar_liga' %}"
                        class="link-button enlace-ayuda abrir-modal">
                            Haz click aquí.
                        </a>
                    </p>
                </div>
                <br>
                <div class="card">
                <h2>Formato de las fechas</h2>
                    <p>Las fechas deben ser ingresadas con el formato DD/MM/AAAA</p>
                </div>
            </div>
        </div>
</div>

<div class="modal fade" id="ligas" role="dialog">

</div>

<script>

$(document).on('click', '.abrir-modal', function(e) {

    e.preventDefault();

    var url = $(this).attr('href');

    $('#ligas').load(url, function() {

        $('#ligas').addClass('show');
        $('#ligas').css('display', 'block');

    });

});

</script>

{% endblock %}
