{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Jugadores</title>

    <!-- ICONO -->
    <link rel="icon" href="{% static 'img/logo_liga.png' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">

    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <header>
        <!-- NAVBAR -->
        <nav class="navbar">
            <div class="nav-container">

                <!-- BOTÓN HAMBURGUESA -->
                <a href="{% url 'home' %}" class="logo">LigaRural</a>
                <button class="menu-btn" id="menuBtn">☰</button>
                <!-- MENÚ -->
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="{% url 'about' %}"><i class="fa fa-info-circle"></i> About</a></li>
                    <li><a href="{% url 'equipos' %}"><i class="fa fa-users"></i> Equipos</a></li>
                    <li><a href="{% url 'traspasos' %}"><i class="fa fa-right-left"></i> Traspasos</a></li>
                    <li><a href="{% url 'ingresar_equipo' %}"><i class="fa fa-plus"></i> Equipo</a></li>
                    <li><a href="{% url 'ingresar_jugador' %}"><i class="fa fa-user-plus"></i> Jugador</a></li>
                    {% if user.is_authenticated %}
                    <li>Hola, {{user.username}}</li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fa fa-sign-out-alt"></i> Cerrar sesión
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">
                            <i class="fa fa-key"></i> Login
                        </a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>
    </header>
    <!-- SCRIPT MENU -->
    <script>
        const toggle = document.getElementById("menuBtn");
        const menu = document.getElementById("nav-menu");

        toggle.addEventListener("click", () => {
            menu.classList.toggle("active");
            if (menu.classList.contains("active")) {
                toggle.innerHTML = '✖'
                toggle.setAttribute("aria-expanded", "true");
            }else{
                toggle.innerHTML = '☰'
                toggle.setAttribute("aria-expanded", "false");
            }
        });
    </script>
    <!-- FONDO -->
    <!-- CONTENIDO -->
    {% block content %}
    {% endblock %}
    </body>
</html>