{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Jugadores</title>
    <link rel="icon" href="{% static 'img/logo_liga.png' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <nav class="navbar container">
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            <li>
                <a href="{% url 'equipos' %}">Equipos</a>
            </li>
            <li>
                <a href="{% url 'traspasos' %}">Traspasos</a>
            </li>           
            <li>
                <a href="{% url 'ingresar_equipo' %}">Ingresar Equipos</a>
            </li>
            <li>
                <a href="{% url 'ingresar_jugador' %}">Ingresar Jugadores</a>
            </li>
            <li>
                <a href="{% url 'realizar_traspaso' %}">Realizar Traspasos</a>
            </li>            

        </ul>
    </nav>
    <img src="{% static 'img/logo_liga.png' %}" class="bg">
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>