:root {
    --nav-height: 70px;
}

body {
    background: #202020;
    color: whitesmoke;
    padding-top: var(--nav-height);
    position: relative; /* 👈 importante */
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("/static/img/logo_liga.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    opacity: 0.15; /* 👈 AQUÍ controlas la opacidad */
    z-index: -1;
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 3rem;
    color: gold;
}

h2 {
    font-size: 2rem;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}
p {
    font-size: 2rem;
}
/* ================= NAVBAR ================= */
nav {
    background: #202020;
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: var(--nav-height);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    color: gold;
    font-weight: bold;
    font-size: 2vw;
    text-decoration: none;
}

/* MENÚ PC */
.nav-menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    transition: all 0.3s ease;
}

.nav-menu a {
    color: gold;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ;
}

.nav-menu a:hover {
    opacity: 0.8;
    color: brown;
    transform: translateY(-2px);
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

/* ================= INPUT ================= */
input {
    font-size: 3vh;
    background: wheat;
    padding: 2px;
    margin: 5px;
}

/* ================= TABLAS ================= */
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

table {
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

th {
    font-size: 4vh;
}

tr {
    background-color: #202020;
}

tr:hover {
    background-color: brown;
    cursor: pointer;
    opacity: 1;
}

.encabezado:hover {
    background-color: #202020;
    opacity: 0.8;
    cursor: auto;
}

/* ================= FONDO ================= */
.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    height: auto;

    object-fit: contain;
    opacity: 0.2;
    z-index: -1;
}

/* ================= FORMULARIO ================= */
.form-container {
    background: #2a2a2a;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

    max-width: 600px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-container input,
.form-container select,
.form-container textarea {
    font-size: 1rem;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background: rgb(62, 47, 9);
    color: #fff;
    outline: none;
    margin-bottom: 25px;
    width: 100%;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
    background: #3a3a55;
    box-shadow: 0 0 0 2px #007bff;
}

.form-container label {
    font-weight: bold;
    font-size: 3vh;
}

.form-container button {
    width: 100%;
    padding: 12px;
    background: brown;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.form-container button:hover {
    background: red;
}

.form-container .errorlist {
    color: #ff6b6b;
    list-style: none;
    padding: 0;
}

/* ================= GENERALES ================= */
button {
    color: white;
    background: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 0.5rem;
}

/* ================= BOTONES ================= */
.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.editar {
    background-color: rgb(189, 160, 0);
}

.eliminar {
    background-color: #e74c3c;
}

.ver {
    background-color: green;
}
/* #################################################*/
.home {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 100px;
}
.container-about {
    display: flex;
    flex-direction: column;
}
.grid-equipos {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 5fr;
}
.ingresar {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.grid-ingresar-jugador {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 5fr;
}
.grid-traspasos {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 3fr;
}

.about {
    background: #2a2a2a;
    padding: 1rem;
    margin: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    grid-column: span 1;
    grid-row: span 2;
}
.card {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    grid-column: span 1;
    grid-row: span 1;
}
.card strong {
    font-size: 2rem;
    color: gold;
}

hr {
    border: none;
    height: 1px;
    background: #444;
    margin-bottom: 30px;
}
.card-title {
    grid-column: span 2;
    grid-row: span 1;
}
.card-table {
    grid-column: span 2;
    grid-row: span 2;
}
.swal2-title {
    border: none !important;
    box-shadow: none !important;
}
.contenedor-card {
    display: flex;
    flex-direction: row;
    width: 100%;
}
/* ================= MOBILE ================= */
@media (max-width: 768px) {

    p {
        font-size: 1rem;
    }
    .card strong {
        font-size: 1.2rem;
        color: gold;
    }


    nav {
    background: #202020c7;
    }

    /* BOTÓN */
    .menu-btn {
        display: block; 
        color: gold;
    }

    /* MENÚ OCULTO */
    .nav-menu {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        background: #202020;
        flex-direction: column;
        align-items: center;
        padding: 0 0;
        clip-path: circle(0px at 90% -10%);
        pointer-events: none;
        z-index: 9999;
    }

    /* CUANDO SE ABRE */
    .nav-menu.active {
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        z-index: 9999;
    }
    .nav-menu.active ~ .navbar,
    .navbar:has(.nav-menu.active) {
        background-color: #202020;
    }

    .nav-menu li {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s ease;
    }

    .nav-menu.active li {
        opacity: 1;
        transform: translateY(0);
    }

    .nav-menu li:nth-child(1) {transition-delay: 0.1s;}
    .nav-menu li:nth-child(2) {transition-delay: 0.2s;}
    .nav-menu li:nth-child(3) {transition-delay: 0.3s;}
    .nav-menu li:nth-child(4) {transition-delay: 0.4s;}
    .nav-menu li:nth-child(5) {transition-delay: 0.5s;}
    .nav-menu li:nth-child(6) {transition-delay: 0.6s;}
    .nav-menu li:nth-child(7) {transition-delay: 0.7s;}

    /* TEXTOS */
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
        font-weight: bold;
    }
    /* CARDS */
    .card a {
        font-size: 3vw;
    }

    /* FORMULARIOS */
    .form-container {
        width: 90%;
        padding: 20px;
    }

    .form-container label {
        font-size: 3vw;
    }

    button {
        font-size: 1.25rem;
        border-radius: 0.75rem;
        padding: 0.15rem;
        margin: 0.1rem;
    }
    input {
        font-size: 2vw;
    }

    /* TABLAS */
    /*table {
        width: max-content;
        min-width: 100%;
        border-collapse: collapse;

    }*/
    th, td {
        font-size: 2.5vw;
    }

    /* BOTONES */
    .btn {
        font-size: 2.5vw;
        padding: 6px 10px;
    }

    /* FONDO */
    .bg {
        object-fit: cover;
        opacity: 0.15;
    }

    .logo {
        font-size: 2.5vw;
    }
}

/* ================= CELULARES PEQUEÑOS ================= */
@media (max-width: 480px) {

    .card a {
        font-size: 3vw;
    }

    .form-container {
        padding: 15px;
    }

    .form-container label,
    .form-container button {
        font-size: 1.25rem;
    }

    th, td {
        padding: 6px;
    }

    .btn {
        font-size: 3vw;
    }
}

@media (orientation: portrait) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    h2 {
        font-size: 5vw;
    }
    p {
        font-size: 1rem;
    }
    button {
        font-size: 4vw;
    }
    .logo {
        font-size: 5vw;
    }
    .nav-menu{
        height: 100%;
        padding-top: 5vh;
    }
    .text-container {
        margin: 10% 0 0 0;
        left: 0;
        min-width: 90vw;
    }
    input { 
        font-size: 2vh;
    }
   /* TABLAS */

    table {
        width: 100%;
        table-layout: fixed;
    }
    th, td {
        font-size: 2vh;
    }

    .bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        width: 100%;
        height: auto;

        object-fit: contain;
        opacity: 0.2;
        z-index: -1;
    }

    .home {
        display: flex;
        flex-direction: column;
    }
}
