{% extends 'layouts/base.html' %}

{% block content %}
<div class="text-container">
    <h1>Acerca de Nosotros</h1>
    <br>
    <p>Nacimos para ayudar a las ligas rurales a dejar atrás el papeleo y organizar mejor sus equipos y jugadores.
    Queremos que directivos puedan manejar toda la información de forma sencilla, rápida y sin complicaciones.
    Buscamos modernizar la gestión del fútbol rural, entregando una herramienta simple y confiable que permita ordenar la información, evitar duplicidades y fortalecer la transparencia en las ligas.</p>
</div>
{% endblock %}