{% extends 'layouts/base.html' %}

{% block content %}
<div class="home">
    <div class="card-title">
        <h1>Aplicación de Gestión de Jugadores</h1>
    </div>
    <div class='card'>
        <h2><i class="fa fa-chart-bar"></i>Resumen Total</h2>
        <p>Se han registrado <strong>{{total_jugadores}}</strong> jugador en total</p>
        <p>Se han registrado <strong>{{total_equipos}}</strong> equipos en total</p>
    </div>
    <div class="card">
        <h2><i class="fa fa-users"></i>Resumen por equipo</h2>
        {% for equipo, valor in equipos.items %}
            {% if valor == 1 %}
            <p><strong> {{ equipo }} </strong> tiene <strong>{{ valor }}</strong> jugador</p>
            {% else %} 
            <p><strong> {{ equipo }} </strong> tiene <strong>{{ valor }}</strong> jugadores</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}