{% extends 'layouts/base.html' %}

{% block content %}
<div class="home">
    <div class="card-title">
        <h1>Aplicación de Gestión de Jugadores</h1>
    </div>
    <div>
        <div class='card'>
            <h2><i class="fa fa-chart-bar"></i>Resumen Total</h2>
            <p>Se han registrado <strong>{{total_jugadores}}</strong> jugador en total</p>
            <p>Se han registrado <strong>{{total_equipos}}</strong> equipos en total</p>
            <p>Se han registrado <strong>{{total_traspasos}}</strong> traspasos en total</p>

        </div>
    </div>
    <div>
        <div class="card">
            <h2><i class="fa fa-users"></i>Resumen por equipo</h2>
            {% for equipo, valor in equipos.items %}
                {% if valor == 1 %}
                <p><strong> {{ equipo }} </strong> tiene <strong>{{ valor }}</strong> jugador</p>
                {% else %} 
                <p><strong> {{ equipo }} </strong> tiene <strong>{{ valor }}</strong> jugadores</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="card">
            <h2><i class="fa fa-users"></i> Canchas</h2>

            <a href="{% url 'canchas' %}" class="menu-lin links-home">
                <i class="fa fa-futbol"></i> Ver Canchas
            </a>

            <div class="card-action">
                <a href="{% url 'ingresar_cancha' %}" class="btn-card links-home">
                    <i class="fa fa-plus-circle"></i> Agregar Cancha
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <h2><i class="fa fa-users"></i> Partidos</h2>

            <a href="{% url 'partidos' %}" class="menu-lin links-home">
                <i class="fa fa-futbol"></i> Ver Partidos
            </a>

            <div class="card-action">
                <a href="{% url 'ingresar_partido' %}" class="btn-card links-home">
                    <i class="fa fa-plus-circle"></i> Agregar Partidos
                </a>
            </div>
        </div>
    <br>
    <div>
        <div>
            <div class="card">
                <h2><i class="fa fa-users"></i> Árbitros</h2>

                <a href="{% url 'arbitros' %}" class="menu-lin links-home">
                    <i class="fa fa-futbol"></i> Ver Árbitros
                </a>

                <div class="card-action">
                    <a href="{% url 'ingresar_arbitro' %}" class="btn-card links-home">
                        <i class="fa fa-plus-circle"></i> Agregar Árbitros
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.links-home {
    font-size: 2rem;

}
</style>


{% endblock %}

