{% extends 'layouts/base.html' %}

{% block content %}
<div class="ingresar">
    <div class="card-title">
        <h1>Editar Árbitro</h1>
    </div>

    <div class="container-forms-card">
        <div class="card form-container">
            <form method="POST" class="form-registro" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.as_p }}

                <button type="submit">Guardar cambios</button>
            </form>
        </div>

        <div>
            <div class="card">
                <h2>Información importante</h2>
                <p>Recuerda que puedes modificar los datos del árbitro en cualquier momento.</p>
            </div>
            <br>
            <div class="card">
                <h2>Tipos de Sangre</h2>
                <p>"A+", "A-", "B+", "B-", "AB+", "AB-", "O+" y "O-"</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}