{% extends 'layouts/base.html' %}

{% block content %}
<div class="ingresar">
    <div class="card-title">
        <h1>Ingresar Usuario</h1>
    </div>
    <div class="card form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button>Iniciar</button>
            <p class="text-center">¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate</a> </p>        
        </form>
    </div>
</div>
<style>
    p {
        font-size: 1.5rem;
        text-align: center;
    }
</style>

{% endblock %}