{% extends 'layouts/base.html' %}

{% block content %}

<div class="ingresar">
    <div class="card-title">
        <h1>Registro de Usuario</h1>
    </div>
    <div class="card form-container">
        <form method="POST">
            {% csrf_token %}
                {% for field in form %}
                    <div class="campo-form">

                        {{ field.label_tag }}
                        {{ field }}

                        {% if field.errors %}
                            <div class="error">
                                {{ field.errors }}
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}
            <button>Guardar</button>
        </form>
    </div>
</div>

{% endblock %}