{% extends 'layouts/base.html' %}

{% block content %}
<div class="ingresar">
    <div class="card-title">
        <h1>Verifica tu correo</h1>
    </div>
    <div class="card form-container">
        <p class="detalles">
        Hola {{usuario.username}},

        Gracias por registrarte en Liga Rural Cancura.

        Te hemos enviado un correo de verificación a {{usuario.email}}.

        Haz clic en el enlace que aparece en el correo para activar tu cuenta.

        </p>
        <p class="detalles">
            Si no lo encuentras en tu bandeja de entrada, revisa las carpetas de:
            - Spam
            - Correo no deseado
            - Promociones (en Gmail)
            
            Si no recibiste el correo, intenta contactarte con soporte de la liga.
        </p>
        <a href="{% url 'login' %}">Volver al login</a>
    </div>
</div>
{% endblock %}
